@model Nexus.Models.RetailShop

@{
    Layout = "AdminSideBar";
}
<link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/CreateEmployee.css" asp-append-version="true" />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddShop">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger">@ViewBag.AddError</span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="TbShop">Back</a>
</div>
