@* 
@model Nexus.Models.Employee

@{
    Layout = "AdminSideBar";
}

<link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/CreateEmployee.css" asp-append-version="true" />

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditEmployee" asp-controller="Admin" method="post">
            <div class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input asp-for="Password" class="form-control" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Role</label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                <span class="text-danger" asp-validation-for="RoleId"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label">Shop address</label>
                <select asp-for="ShopId" class="form-control" asp-items="ViewBag.ShopId"></select>
                <span class="text-danger" asp-validation-for="ShopId"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 *@
@* 
 @model Nexus.Models.Employee

@{
    Layout = "AdminSideBar";
}

<link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/CreateEmployee.css" asp-append-version="true" />

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditEmployee" asp-controller="Admin" method="post">
            <div class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input asp-for="Password" class="form-control" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Role</label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                <span class="text-danger" asp-validation-for="RoleId"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Shop address</label>
                <select asp-for="ShopId" class="form-control" asp-items="ViewBag.ShopId"></select>
                <span class="text-danger" asp-validation-for="ShopId"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@

@model Nexus.Models.Employee

@{
    Layout = "AdminSideBar";
}

<link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/CreateEmployee.css" asp-append-version="true" />

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditEmployee" asp-controller="Admin" method="post">
            <div class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input asp-for="Password" class="form-control" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Role</label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                <span class="text-danger" asp-validation-for="RoleId"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Shop address</label>
                <select asp-for="ShopId" class="form-control" asp-items="ViewBag.ShopId"></select>
                <span class="text-danger" asp-validation-for="ShopId"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

